
.title{
  font-weight: bold;
  text-align: center;
}


body{
background-color: #111;
color: #666;
font-family: Times, Arial, sans-serif;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    visibility: middle;
}

img {
  box-shadow: 10px 10px 5px 0px black;
}
.column img {
    margin-top: 12px;
    width: 95%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
  box-sizing: border-box;
}
