/* add your CSS here */

.photos{


  padding: 50px;
  text-align: center;


}
.title{
  font-weight: bold;
  text-align: center;
}

img {
  box-shadow: 10px 10px 5px 0px black;
}



body{
background-color: #111;
color: #666;
font-family: Times, Arial, sans-serif;
}
