/* add your CSS here */

.photos{

  font-family: Times, Arial, sans-serif;
  padding: 50px;
  text-align: center;


}
.bold{
  font-weight: bold;
}

img {
  box-shadow: 10px 10px 5px 0px black;
}



body{
background-color: #111;
color: #666;
}
